html, body {
	height: 100%;
	width: 100%;
	background-color: #FFEFDB;
	min-width: 200px;
	font-family: Tahoma, sans-serif;
}

/* Layout */
#topbar {
	display: inline-block;
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #000000;
	font-size: 22px;
	padding-top: 25px;
	color: #FFF;
	min-width: 480px;
	padding-left: 5%;
	z-index: 2;	
}

div {
	display: inline;
}

#textdiv {
	display: inline-block;
}

input {
	font-size: 20px;
	border: none;
	border-radius: 4px;
	color: #000000;
	background-color: #FFEFDB;
	width: 300px;
	text-align: center;
}

input:focus {
	background-color: #EEDFCC;
	border: none;
	outline: none;
}

#backgroundimage {
	position: fixed;
	width: 400px;
	height: 350px;
	top: 45%;
	left: 45%;
	margin-top: -125px;
	margin-left: -125px;
}

#headerimage {
	position: fixed;
	width: 35px;
	height: 35px;
	padding-left: 55px;
}

#container {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-top: 110px;
	margin-right: 5%;
	margin-left: 5%;
	z-index: 1;
}

footer {
	width: 100%;
	height: 15px;
	background-color: #000000;
	bottom: 0;
	position: fixed;
	padding-top: 10px;
}

.subtitle {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 20px;
}


/* Pictures*/
#output div {
	display: inline-block;
}

.picturediv {
	display: inline-block;
}

#imgStyle {
	width: 64px;
	height: 64px;
	left: 32px;
	bottom: 9px;
	position: relative;
	z-index: 0;
}

#output img {
-webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.59);
-moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.59);
box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.59);
margin-bottom: 35px;
}

.hidden {
	display: none;
}

/* Buttons */
.controlbutton {
	position: relative;
	margin: 30px 10px 10px 10px;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	font-size: 14px;
	background-color: #000000;
	color: #FFFFFF;
}

.controlbutton:hover {
	background-color: #F87531;
	color: #FFFFFF;
}

